.app {
  text-align: center;
}

.app-wrapper {
  display: grid;
  width:1200px;
  margin:auto;
  grid-template-areas:
  "h h"
  "n c";
  
  grid-template-rows:60px 1fr;
  grid-template-columns:2fr 10fr;
}
.header {
  grid-area: h;
	background-color:green;
}
.header img {
	width:300px;
}
.nav{
	grid-area:n;
	background-color: red;
}
.content{
	grid-area: c;
	background-color:blue;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
